@import "../../scss/default_var.scss";

.slider {
  // display: flex;
  position: relative;
  width: 100%;
  // flex-direction: row;
  height: 612px;
  margin: 0 auto;
  background: $color-slider-fon;
}

.galleryWindow {
  margin: 0 auto;
  width: 70%;
  height: 612px;
  max-width: 1300px;
  overflow: hidden;
  display: flex;
}

.arrow-rec {
  position: absolute;
  max-width: 1600px;
  width: 80%;
  height: 125px;
  left: 50%;
  transform: translateX(-50%);
  top: 243px;
}
.arrow-left,
.arrow-right {
  position: absolute;
  stroke: $color-arrow;
  cursor: pointer;
  &:hover {
    stroke: $color-active-arrow;
  }
}
.arrow-left {
  left: 0;
}
.arrow-right {
  right: 0;
}
