.logo {
  width: 143px;
  height: 48px;
  a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../images/Logo.png);
    background-position: center;
    background-repeat: no-repeat;
  }
}
