@import "../../scss/default_var.scss";

@font-face {
  font-family: "Lato-medium";
  src: local("Lato-medium"),
    url("../../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
}

.navbar,
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 44px;
  max-width: 467px;
  height: 21px;

  li {
    white-space: nowrap;
    list-style-type: none;
    font-family: "Lato-medium";
    // font-style: normal;
    // font-weight: 500;
    font-size: 14px;
    // line-height: 148%;
    /* identical to box height, or 21px */
    letter-spacing: 0.1em;
    text-transform: uppercase;

    a {
      text-decoration: none;
      &:hover {
        color: $color-active-menu;
      }
    }
  }
}

.active {
  color: $color-active-menu;
}
.noneactive {
  color: $color-black;
}
